@use '../../index.scss';

header {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;

    .logo {
        max-width: 100px;

        img {
            width:100%;
        }
    }

    button {
        border-radius: 20px;
        background: index.$green;
        border: 0;
        padding: 10px 20px;
        font-weight: bold;
    }
}