@use '../../index.scss';

.testimonials {

    &>div:first-child {
        text-align: center;
        overflow: hidden;
        color: index.$black;
        margin: 25px 0;

        h1 {
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
            margin: 0 auto;
            width: 400px;
        }
        
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0 .2em 0 0;
        justify-content: flex-end;
        margin: .2em 0 .2em;
        gap: 20px;
        font-size: 2.25em;

        li {
            transition: 0.30s;
            transition: all .3s;
            color: index.$black;
        }

        li:hover {
            cursor: pointer;
            color: index.$green;
        }
    }

    &>div:nth-of-type(2) {
        display: flex;
        gap: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    &>div:nth-child(2)::-webkit-scrollbar {
        display: none;
    }

    .reviews {
        padding: 0 40px;
    }

    .review-wrapper {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;
        color: index.$primary-color;

        &>div:first-child {
            width: 290px;
            overflow: hidden;
            border-radius: inherit;
            height: 400px;

            img {
                object-fit: cover;
                height: 100%;
                transition: .3s;
                width: 100%;
                border-radius: inherit;
            }
        }

        
        &>div:nth-child(2) {
            font-size: .85em;
            position: absolute;
            display: flex;
            height: 100%;
            z-index: 1;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 10px;
            top: 0;
            left: 0;

            span {
                font-weight: bold;
            }
        }
    }


    .review-wrapper::after {
        content: '';
        position: absolute;
        top: 0;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        background: #55ba8e90;;
    }

    .review-wrapper:hover {

        img {
            transform: scale(1.1)
        }
    }
}

@media (max-width: 767px) {
    .testimonials ul {
        display: none;
    }
}

@media (max-width: 540px) {
    .testimonials {

        &>div:first-child p {
            padding: 0 20px;
        }

        .reviews {
            padding: 0 20px;
        }
    }
}